<div class="row">
    <div class="col-6 offset-3">
        <br>
        <h2 class="text-center">Sign up</h2>
        <br>
        <form name="sign-up" (ngSubmit)="f.form.valid && signUp()" #f="ngForm" novalidate>
              
              <ul class="nav">				
                <li><h1>Seleciona uno</h1>
                    <ul>
                        <li> 
                            <a id="usuariosCreateTag" class="nav-link" routerLink="/usuarios/create">usuariosCreate</a>
                        </li>
                        <li>
                            <a id="administradorCreateTag" class="nav-link" routerLink="/administradores/create">administradoresCreate</a>
                        </li>
                        <li>
                            <a id="coordinadoresCreateTag" class="nav-link" routerLink="/coordinadores/create">coordinadoresCreate</a>
                        </li>
                        <li> 
                            <a id="anfitrionesCreateTag" class="nav-link" routerLink="/anfitriones/create">anfitrionesCreate</a>
                        </li>     
                    </ul>
                </li>
            </ul>      
            
            
            
<!--            <div class="form-group">
                <label for="role"><b>Role</b></label>
                <select class="custom-select" name="role" id="role" [(ngModel)]="user.role" required>
                    <option [value]="role" *ngFor="let role of roles">{{role}}</option>
                </select>
            </div>-->
            
        </form>
    </div>
</div>
