<!DOCTYPE html>
<html lang="es">

    <head>
        <title>listar Ususarios</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    </head>

    <body>
        
                   
                            <table class="table table-striped">
                                <thead class="thead-dark" >
                                    <tr>
                                        <th scope="col">id</th>  
                                        <th scope="col">Nombre</th>   
                                        <th scope="col">editar</th>
                                        <th scope="col">eliminar</th>
                                    </tr>                  
                                </thead>
                                <tbody>

                                    <tr *ngFor ="let e of usuarios ">                               
                                        <td>
                                            <div class="col">
                                                {{e.id}}
                                            </div>                                           
                                        </td>

                                        <td style="cursor: pointer;">
                                            <a class="figure-caption" routerLink="/usuarios/{{e.id}}" >{{e.nombre}}</a>
                                        </td>                                  
                                        
                                        <td>                                            
                                             <button class="btn btn-primary"  routerLink="/usuarios/{{e.id}}/edit" >
                                                usuariosEdit
                                             </button>                                             
                                        </td>
                                        
                                        <td>
                                             <button class="btn btn-danger" (click)="deleteUsuario(e.id)">Eliminar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                     
                
    </body>
</html>