<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-md-12">
    <div class="container-fluid">
        <!--        <p class="h3 p-3">{{comentarioBlogDetail.titulo}}<p> -->
        <div class="row">
            <div class="col-md-12">
                <dl>
                    <dt>Titulo</dt>
                    <dd>{{comentarioBlogDetail.titulo}}</dd>
                    <dt>Descripcion</dt>
                    <dd>{{comentarioBlogDetail.descripcion}}</dd>
                    <dt>Fecha/dt>
                    <dd>{{comentarioBlogDetail.fecha| date:'MM/dd/yyyy'}}</dd>
                    <dt>Titulo</dt>
                    <dd>{{comentarioBlogDetail.titulo}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

