<div class="panel-body">
    <div class="border margin">
        <p class="h3 p-3">{{otroDetail.nombre}}<p> 
        <div class="row">
            <div class="col">
                <dl>     
                    <dt>Nombre</dt>
                    <dd>{{otroDetail.nombre}}</dd>
                    <dt>Fecha</dt>
                    <dd>{{otroDetail.fecha}}</dd>
                    <dt>Descripcion</dt>
                    <dd>{{otroDetail.descripcion}}</dd>
                    <dt>Motivacion</dt>
                    <dd>{{otroDetail.motivacion}}</dd>
                </dl>
            </div>

        </div>
    </div>
    <!--<p class="h3 p-3">Calificaciones de la otro : </p>
    <app-calificacion-list [books]="otroDetail.calificacion"></app-book-list>-->
</div>
