 <div class="container">
            <p class="navbar-text text-center pull-center ">
                <img src="../assets/usuario.png"  />                
            </p>
</div>
<div class="row">
    <div class="col-md-6">
	<div class="container-fluid">
		<div class="row">

			<div class="col">
				<p class="h3 p-3">Nombre: </p>
			</div>
			<div class="col">
				<p class="h3 p-3">{{usuarioDetail.nombre}} </p>
			</div>
		</div>
		<div class="row">

			<div class="col">
				<p class="p-3">Contrasenia:</p>
			</div>
			<div class="col">
				<p class="p-3">{{usuarioDetail.contrasenia}} </p>
			</div>
		</div>
        </div>
</div>
<div class="col-md-6">
	<div class="container-fluid">
		<div class="row">

			<div class="col">
				<p class="p-3">Grupos: </p>
			</div>
			<div class="col" *ngFor="let g of grupos">
				<p class="p-3">{{g}} </p>
			</div>
		</div>
		<div class="row">

			<div class="col">
				<p class="p-3">Actividades : </p>
			</div>
			<div class="col" *ngFor="let a of actividades">
				<p class="p-3">{{a}} </p>
			</div>
		</div>

		
	</div>
</div>
</div>
