<div class="container-fluid">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear actividad</h2>
        <br>
        <form name="actividad" (ngSubmit)="f.form.valid && createActividad()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="actividadName"><b>Nombre</b></label>
                <input type="text" name="actividadName" class="form-control" id="actividadName" [(ngModel)]="actividad.nombre"
                    #actividadName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && actividadName.invalid }" required>
                <div class="invalid-feedback">
                    <div>The actividad's name is missing</div>
                </div>
            </div>
            <div class="form-group">
                <label for="actividadBirthDate"><b></b></label>
                <div [ngClass]="{ 'is-invalid': f.submitted && actividadBDate.invalid }">
                    <input class="form-control" id="actividadBDate" name="actividadBDate" [(ngModel)]="actividad.birthDate"
                        ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" #actividadBDate="ngModel" [ngClass]="{'is-invalid': f.submitted && (actividadBDate.untouched || actividadBDate.invalid) }"
                        required>
                    <div class="invalid-feedback">
                        <div>The actividad's birth date is missing</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="actividadDescription"><b>Description</b></label>
                <textarea name="actividadDescription" maxlength=255 class="form-control" id="actividadDescription" [(ngModel)]="actividad.description"
                    #actividadDescription="ngModel" [ngClass]="{ 'is-invalid': f.submitted && actividadDescription.invalid }"
                    required></textarea>
                <div class="invalid-feedback">
                    <div>The actividad's description is missing</div>
                </div>
            </div>
            <div class="form-group">
                <label for="actividadImage"><b>Image</b></label>
                <input type="text" name="actividadImage" class="form-control" id="actividadImage" [(ngModel)]="actividad.image"
                    #actividadImage="ngModel" [ngClass]="{ 'is-invalid': f.submitted && actividadImage.invalid }" required>
                <div class="invalid-feedback">
                    <div>The actividad's image is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>