<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <h2 class="text-center">Add a new calificacion</h2>
            <br>
            <form name="Calificacion" (ngSubmit)="f.form.valid && createCalificacion()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="Calificacion"><b>Calificacion</b></label>
                    <input type="number" calificacion="Calificacion" class="form-control" id="Calificacion" [(ngModel)]="calificacion.calificacion"
                        #Calificacion="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Calificacion.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The calificacion is missing</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mensajeCal"><b>Mensaje</b></label>
                    <input type="text" mensaje="mensajeCal" class="form-control" id="mensajeCal" [(ngModel)]="calificacion.mensaje"
                        #mensajeCal="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mensajeCal.invalid }" required>
                    <div class="invalid-feedback">
                        <div>The mensaje is missing</div>
                    </div>
                </div>
        </div>
    </div>
</div>
<br>
<br>