<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-blue bg-dark">
        <a class="navbar-brand" href="#">
            <div class="form-inline">
                <h2 class="mainTitle">HYGGE</h2>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="blogCommentsTag" class="nav-link" routerLink="/comments/list">
                            <font size="3">Comentarios Blog</font>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="grupoInteresCommentsTag" class="nav-link" routerLink="/grupoInteresComments/list">
                            <font size="3">Comentarios Grupo de Interes</font>
                        </a>
                    </li>
                    <li class = "nav-item">
                        <a id= "actividadesTag" class = "nav-link" routerLink = "/actividades/list">
                        <font size = "3"></font>Actividades</a>
                    </li>
                    <li class="nav-item">
                        <a id="calificacionesTag" class="nav-link" routerLink="/calificaciones/list">
                            <font size="3">Calificaciones</font>
                        </a>
                    </li>
                </ul>
            </div>
        </a>

        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto mt-0">

            </div>
            <div class="navbar-nav ml-auto flex-column">
                <div class="flex-row" *ngxPermissionsOnly="['GUEST']">
                    <div class="form-inline">
                        <li class="right-space"><a id="signup-navbar-item" routerLink="/auth/sign-up"><span
                                    class="fa fa-user"></span>
                                Sign Up</a></li>
                        <li><a id="login-navbar-item" routerLink="/auth/login"><span
                                    class="fa fa-sign-in"></span>Login</a></li>
                    </div>
                </div>
                <div class="flex-row" *ngxPermissionsOnly="['CLIENT', 'ADMIN']">
                    <div class="form-inline">
                        <li><a id="logout-navbar-item" (click)="logout()" href="#"><span
                                    class="fa fa-sign-out"></span>Logout</a></li>
                    </div>
                </div>
            </div>
        </div>
    </nav>




    <div>
        <router-outlet></router-outlet>
        <br>
        <br>
    </div>

    <footer class="footer bg-light" id="footer">
        <div class="container">
            <p class="navbar-text text-center pull-right ">
                <img src="../assets/logooo.png" alt="logo" width="60%" /><span id="footer-text"></span>
                <a routerLink="/home"> Home</a>
            </p>
        </div>
    </footer>
    


