/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2019, 21:22:42
    Author     : estudiante
*/
.user_name{
    font-size:20px;
    font-weight: bold;
}
.comments-list .media-body{
    border-bottom: 1px dotted #ccc;
}
.hidden {
    display:none;
    }

    #something {

        background: url(../../../assets/uniandes.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

    .none {
        display:none;
    }
    .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      
      .button2:hover {
        background-color: #008CBA;
        color: white;
      }
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
      }

      