<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="row justify-content-center align-self-center">
                    <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear una actividad</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre</th>
                        <th class="h4">Descripcion</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let actividad of actividades" >
                        <td style="cursor: pointer;" (click)="onSelected(actividad.id, actividad)"> <dd>{{actividad.nombre}}</dd>
                        <td style="cursor: pointer;" (click)="onSelected(actividad.id, actividad)"> <dd>{{actividad.descripcion}}</dd>
                        
                </td>
                <td>
                    <button class="btn btn-primary" (click)="showHideEdit(actividad.id)">Editar<span class="fa"></span></button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteActividad(actividad.id)">Eliminar<span class="fa"></span></button>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <div *ngIf="showViewA">
                <app-actividad-detail [actividadDetail]="selectedActividad"></app-actividad-detail>
            </div>
            <div *ngIf="showViewC">
                <app-chat-detail [chatDetail]="selectedActividad"></app-chat-detail>
            </div>
            <div *ngIf="showViewE">
                <app-encuentro-detail [encuentroDetail]="selectedActividad"></app-encuentro-detail>
            </div>
            <div *ngIf="showViewF">
                <app-estadia-detail [estadiaDetail]="selectedActividad"></app-estadia-detail>
            </div>
            <div *ngIf="showViewO">
                <app-otro-detail [otroDetail]="selectedActividad"></app-otro-detail>
            </div>
            <div *ngIf="showCreate">
                <app-actividad-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-actividad-create>
            </div>
            <div *ngIf="showEdit">
                <app-actividad-edit [actividad]="selectedActividad" (cancel)="showHideEdit(selectedActividad.id)" (update)="updateActividad()" ></app-actividad-edit>
            </div>
        </div>   
    </div>
</div>
