<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle justify-content-center align-self-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Crear actividad
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a [ngClass]="{ 'btn-primary': !showCreateA, 'btn-danger': showCreateA }" type="button" class="dropdown-item"
                        (click)="showHideCreateA()">Crear actividad</a>
                        <a [ngClass]="{ 'btn-primary': !showCreateC, 'btn-danger': showCreateC }" type="button" class="dropdown-item"
                        (click)="showHideCreateC()">Crear chat</a>
                        <a [ngClass]="{ 'btn-primary': !showCreateE, 'btn-danger': showCreateE }" type="button" class="dropdown-item"
                        (click)="showHideCreateE()">Crear encuentro</a>
                        <a [ngClass]="{ 'btn-primary': !showCreateF, 'btn-danger': showCreateF }" type="button" class="dropdown-item"
                        (click)="showHideCreateF()">Crear estadia</a>
                        <a [ngClass]="{ 'btn-primary': !showCreateO, 'btn-danger': showCreateO }" type="button" class="dropdown-item"
                        (click)="showHideCreateO()">Crear otro</a>
                    </div>
                  </div>
            <br>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="h4">Nombre</th>
                        <th class="h4">Descripcion</th>  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let actividad of actividades" >
                        <td style="cursor: pointer;" (click)="onSelected(actividad.id)"> <dd>{{actividad.nombre}}</dd>
                        <td style="cursor: pointer;" (click)="onSelected(actividad.id)"> <dd>{{actividad.descripcion}}</dd>
                        
                </td>
                <td>
                    <button class="btn btn-primary" (click)="showHideEdit(actividad.id)">Editar<span class="fa"></span></button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="deleteActividad(actividad.id)">Eliminar<span class="fa"></span></button>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <div *ngIf="showView">
                <app-actividad-detail [actividadDetail]="selectedActividad"></app-actividad-detail>
            </div>
            <div *ngIf="showCreateA">
                <app-actividad-create (cancel)="showHideCreateA()" (create)="ngOnInit()"></app-actividad-create>
            </div>
            <div *ngIf="showCreateC">
                    <app-chat-create (cancel)="showHideCreateC()" (create)="ngOnInit()"></app-chat-create>
                </div>
            <div *ngIf="showCreateE">
                <app-encuentro-create (cancel)="showHideCreateE()" (create)="ngOnInit()"></app-encuentro-create>
            </div>
            <div *ngIf="showCreateF">
                <app-estadia-create (cancel)="showHideCreateF()" (create)="ngOnInit()"></app-estadia-create>
            </div>
            <div *ngIf="showCreateO">
                <app-otro-create (cancel)="showHideCreateO()" (create)="ngOnInit()"></app-otro-create>
            </div>
            <div *ngIf="showEdit">
                <app-actividad-edit [actividad]="selectedActividad" (cancel)="showHideEdit(selectedActividad.id)" (update)="updateActividad()" ></app-actividad-edit>
            </div>
        </div>   
    </div>
</div>
