<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Escribir comentario</h2>
        <br>
        <form titulo="comentario" (ngSubmit)="f.form.valid && createComentario()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="comentarioTitulo"><b>Titulo</b></label>
                <input type="text" name="comentarioTitulo" class="form-control" id="comentarioTitulo"
                    [(ngModel)]="comentario.titulo" #comentarioTitulo="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && comentarioTitulo.invalid }" required>
                <div class="invalid-feedback">
                    <div>The comentario's titulo is missing</div>
                </div>
            </div>  
            <div class="form-group">
                <label for="comentarioTexto"><b>Texto</b></label>
                <textarea name="comentarioTexto" maxlength="300" class="form-control" id="comentarioTexto" [(ngModel)]="comentario.texto"
                    #comentarioTexto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && comentarioTexto.invalid}"
                    required></textarea>
                <div class="invalid-feedback">
                    <div>The comentario's texto is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">

                <div class="divider"></div>
                <button type="submit" class="btn btn-primary">Create</button>

            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>