<h1 style="text-align: center;">nombre del grupo</h1>
<p> <button type="button" class="btn btn-info"> unirse</button> <button type="button" class="btn btn-danger"> dejar el grupo</button></p>
<hr />
<table style="margin-left: auto; margin-right: auto;" class="table">
    <tbody>
        <tr style="height: 15px;">
            <td style="width: 429px; height: 15px; text-align: center;">admin : <a>adminname</a></td>
            <td style="width: 453px; height: 15px; text-align: center;"><a>blog</a></td>
        </tr>
        <tr style="height: 55px;">
            <td style="width: 429px; height: 55px; text-align: center;">
                <p>coordinadores</p>
                <ul>
                    <li><a>coor1</a></li>
                    <li><a>coor 2</a></li>
                    <li><a>coor 3</a></li>
                </ul>
            </td>
            <td style="width: 453px; height: 55px; text-align: center;">
                <p>actividades</p>
                <ul>
                    <li><a>act 1</a></li>
                    <li><a>act 2</a></li>
                    <li><a>act 3</a></li>
                </ul>
                <p  style="text-align: margin-left;"><button type="button" class="btn btn-info"> actividades pasadas</button></p>
                <p><button type="button" class="btn btn-info"> crear actividad</button> en modo admin o coordindadr</p>
            </td>
        </tr>
        <tr style="height: 22px;">
            <td style="width: 429px; height: 22px; text-align: center;">
                <p>usuarios</p>
                <ul>
                    <li><a>usu 1</a></li>
                    <li><a>usu&nbsp;2</a></li>
                    <li><a>usu&nbsp;3</a></li>
                </ul>
            </td>
            <td style="width: 453px; height: 22px; text-align: center;">&nbsp;</td>
        </tr>
    </tbody>
</table>